/* Forms Overrides */
/* ion-input,
ion-textarea,
ion-select,
ion-select-option,
ion-datetime,
ion-checkbox,
ion-radio,
ion-toggle,
ion-searchbar,
label,
.select-wrapper 
 {
  background: none !important;
  border: none !important;
} */

ion-toolbar {
  --background: rgba(255, 255, 255, 0.55);
  backdrop-filter: saturate(180%) blur(20px);
}

.dark {
  ion-toolbar {
    --background: rgba(0, 0, 0, 0.55);
  }
}

/* Prevent page flicker during navigation */
ion-tab-bar {
  contain: layout style paint;
}

ion-router-outlet {
  contain: layout style paint;
}

/* Keep tabs rendered in memory */
ion-tabs {
  contain: layout style;
}